.skill__card {
  cursor: default;
  clip-path: var(--polygon);
  padding: 15px 40px;
  transition: var(--transition);
}

.skill__card:hover {
  background: var(--color-ui-2);
}

.skill__card .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.skill__card .skill__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skill__card .skill__details {
  display: flex;
  gap: 1rem;
}

.skill__card .skill__logo {
  width: 25px;
  height: 25px;
}

.skill__card .skill__logo img {
  object-fit: contain;
}

.skill__card .skill__details .skill__name {
  font-size: 15px;
  font-weight: 500;
}

.skill__card .skill__details .skill__level {
  font-size: 14px;
}

/* Responsiveness */
@media (max-width: 350px) {
  .skill__card .skill__details .skill__name {
    font-size: 12px;
  }

  .skill__card .skill__details .skill__level {
    font-size: 10px;
  }
}
