footer .section__wrapper {
  position: relative;
  z-index: 2;
}

footer .social__handles__container {
  justify-content: center;
  margin-top: 20px;
}

footer .copyright {
  width: 100%;
  text-align: center;
}
